html,body{
  /* set html and body to 100% so that
   * navbar can be 100% height as well*/
  height: 100%;
  min-height: 100% !important
}
a.tabHeader
{
  font-weight: bold;
}

.nav-tabs
{
  margin-bottom: 15px;
}

.tab-pane
{
  padding: 0px;
}

#vault-receipts
{
  width:100%;
}

.modal-body
{
  padding: 10px;
}

#vault-folders-navbar
{
  margin-right : 5px;
}

#vault-folders-navbar > li > a
{
  padding : 5px;
  font-size: 14px;
}

#vault-folders-navbar > .subfolder > a 
{
  padding: 2px 15px;
  font-size:12px;
}

#vault-main-container
{
  height: 100%;
}

#vault-main-view
{
 /* float: left;*/
 /* width: 100%;*/
  height: 100%;
  overflow:auto;
  background-color: #F0F0F1;
}

#vault-main-view div.row
{
  margin : 0px;
}

#vault-navbar
{
  align: center;
  height: 100%;
  background-color: #585858;
/*  z-index: 4;*/
/*  position: fixed;*/
}

#vault-navbar > li > a
{
  overflow:hidden;
  white-space:nowrap;
}

#vault-navbar-container
{
  float: left;
  height: 100%;
  background-color: #585858;
/*  z-index: 4;*/
/*  position: fixed;*/
}

#vault-top-bar
{
}

#vault-folders-navbar-column
{
  padding: 0px;
  /* TODO: folder navbar shouldn't shrink when sidebar expanded*/
/*  min-width:100px;*/

}

#vault-page-content
{
  padding : 10px;
}

.tag-label 
{
  margin : 2px;
}

.tag-label-remove
{
  margin-left :3px;
}

.tags-field
{
  border: none; 
  background-color: rgba(0,0,0,0.1);
}

.navbar-override 
{
  border-radius : 3px;
  background-color: #CDCDCD;
}

.navbar-override > li > a 
{
  margin : 0px;
  border-radius : 3px;
}
.navbar-override > li.active > a 
{
  /* must match background-color for vault-receipts-pane*/
  background-color: #90919C;
}

#vault-receipts-pane
{
  padding: 5px;
  background-color: #90919C;
  border-radius: 3px;
}

/* Laying out the start/end/preset/search fields */
#vault-top-bar div
{
  padding:0px;
}

#vault-top-bar div input
{
  padding:5px;
}

#vault-top-bar .control-label 
{
  padding-left:10px;
  padding-right:10px;
}
