a.tabHeader
{
  font-weight: bold;
}

.nav-tabs
{
  margin-bottom: 15px;
}

.tab-pane
{
  padding: 10px;
}

#vault-receipts
{
  width:100%;
}

.modal-body
{
  padding: 10px;
}

#vault-folders-navbar > .subfolder > a 
{
  padding: 2px 15px;
}
