html,body{
  /* set html and body to 100% so that
   * navbar can be 100% height as well*/
  height: 100%;
}
a.tabHeader
{
  font-weight: bold;
}

.nav-tabs
{
  margin-bottom: 15px;
}

.tab-pane
{
  padding: 10px;
}

#vault-receipts
{
  width:100%;
}

.modal-body
{
  padding: 10px;
}

#vault-folders-navbar > .subfolder > a 
{
  padding: 2px 15px;
}

#vault-main-container
{
  height: 100%;
}

#vault-navbar-container
{
  height: 100%;
}
