/* Overrides */
.handsontable td
{
  word-wrap: break-word;  /* word wrapping*/
}

/*Regular notification css */
#receipt-container-upper
{
  padding: 15px;
}

.deleteTd
{
  text-align: center;
}

/*Handsontable CSS*/
#items
{
  height: 100px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
